//registry.npmjs.org/:_authToken=${NPM_TOKEN}
@airqo-icons:registry=https://registry.npmjs.org/
registry=https://registry.npmjs.org/
auto-install-peers=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
enable-pre-post-scripts=true
# save-workspace-protocol=false # Reverted: Let pnpm use workspace protocol
# link-workspace-packages=false # Reverted: Allow pnpm to link local packages